/* RatingQuestion.css */
.rating-container {
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
}

.radio-group {
  display: flex;
  flex-wrap: wrap;
}

.radio-label {
  width: 16%; /* Adjust the width to make one button per line with some spacing */
  margin-bottom: 15px; /* Add margin to separate buttons into new lines */
}

.radio-input {
  display: none;
}

.radio-button-container {
  border-radius: 50%;
  width: 3.2rem;
  text-align: center;
  cursor: pointer;
  user-select: none;
  color: rgb(114, 81, 102);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  min-width: 5rem;
  font-size: 3rem;
  height: 5rem;
  background-color: rgb(176, 156, 164);
  aspect-ratio: 1 / 1;
  border: none;
}

@media (max-width: 600px) {
  .radio-button-container {
    min-width: 3.5rem;
    font-size: 2rem;
    height: 3.5rem;
  }
}

.radio-input:checked + .radio-button-container {
  background-color: #007bff;
  border-color: #007bff;
  color: white;
}

.radio-button-container:hover {
  background-color: var(--color-light--1);
}

.suffix {
  display: inline-block;
  height: 3.2rem;
  border-radius: 50%;
  width: 3.2rem;
  text-align: center;
  cursor: pointer;
  user-select: none;
  background-color: rgb(215, 208, 213);
  color: rgb(114, 81, 102);
  border: 2px solid rgb(215, 208, 213);
  font-size: 1.5rem;
  line-height: 3rem;
  font-weight: 400;
  margin-right: 1.25rem;
}
